html, body { height: 100%; margin: 0; padding: 0; }
#carte-canvas { height: 100%; background-color: #ccc; }
#panneau
{
	position: absolute;
	left: 0;
	bottom: 2em;
	z-index: 5;
	padding: 1em;
	background-color: #FFF;
}
#panneau label
{
	display: block;
	cursor: pointer;
}
#panneau label:hover
{
	background-color: #DDD;
}