html, body { height: 100%; margin: 0; padding: 0; }
#carte-canvas { height: 100%; background-color: #ccc; }
#panneau
{
	border:1px solid #000;
	border-left: none;
	position: absolute;
	height: 50%;
	bottom: 2em;
	z-index: 5;
	-webkit-transition: left 1s, margin-left 1s;
	transition: left 1s, margin-left 1s;
	min-height: 200px;
	background-color: #fff;
}
.panneau-ouvert
{
	left: 0;
	margin-left: 0;
}
.panneau-ferme
{
	left: -275px;
	margin-left: -1em;

}
.conteneur
{
	padding: 0.5em;	
}
#panneau label
{
	display: block;
	cursor: pointer;
}
#panneau label:hover, li:hover
{
	background-color: #DDD;
}
.fermer
{
	border: 1px solid #000;
	border-left: 2px dashed #bbb;
	z-index: 8;
	position: absolute;
	left: 275px;
	margin-left: 1em;
	background-color: #fff;
	top: -1px;
	padding: 0.5em 0.5em 0;
	color: #777;
	text-decoration: none;
}
#lstZap
{
	margin:0 1em;
	padding:0;
	list-style-type: none;
}
#lstZap li
{
	margin: 0 -1em;
}
#lstZap li + li
{
	border-top: 1px solid #999;
}
#lstZap a
{
	display: block;
	padding: 5px 1em;
}
.onglet-contenu
{
	width: 275px;
	overflow: auto;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #FFF;
}
.onglet
{
	position: absolute;
	top:3em;
	bottom: 3em;
	width: 100%;
}
.ferme
{
	display: none;
}
.nav-onglets
{
	position: relative;
	z-index: 6;
	background-color: #FFF;
	width: 275px;
	text-align: center;
}
.lien
{
	display: inline-block;
	width: 49%;
}
.lien a
{
	padding: 0.3em 0;
	display: block;
	font-size: 1.2em;
	border:1px solid #000;
	color: #000;
	text-decoration: none;
	background-color: #fff;
}
.courant a
{
	color: #fff;
	background-color: #00F;
}
#rtc
{
	background-color: #FFF;
	position: absolute;
	bottom: 0;
	left: 0em;
	right:0em;
	padding:0.5em 1em;
	border-top:2px ridge #FFF;
}
.infoWindow
{
	position: relative;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.adresse
{
	white-space: nowrap;
}
.infoWindow h1
{
	margin:0;
	font-size: 1.4em;
	font-weight: 300;
}
.infoWindow h2
{
	margin:0;
	font-size: 1.2em;
	font-weight: 300;
}
.avis
{
	margin-top: 1em;
	border-top: 1px ridge #CCC;
	padding-top: 1em;
	overflow: auto;
}
.listeAvis
{
	margin: 1em 0;
}
.rien
{
	font-style: italic;
}
.avis textarea
{
	font-family: inherit;
	font-size: inherit;
	display: block;
	width: 99%;
	resize:vertical;
}
.avis button
{
	cursor: pointer;
	background-color: #10F;
	padding:0.25em 0.5em;
	border:1px outset #00D;
	border-radius: 3px;
	color: #FFF;
	font: inherit;
	font-weight: normal;
	display: inline-block;
}
.avis button:disabled
{
	background-color: #BBB;
	border-color: #BBB;
}
.avis-retroaction div div:last-child
{
	background-color: #CFC;
}
.chargement
{
	display: inline-block;
	height: 1em;
	margin-left: 0.5em;
}
.icone
{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background:#0A0;
	color:#FFF;
	text-align: center;
}
.icone-chargement
{
	color:transparent;
	background: url("../images/ajax-loader-submit.gif") no-repeat;
}